@import '@economist/component-balloon';

:root {
  --color-twitter: #55acee;
  --color-facebook: #3b5998;
}

@custom-media --navigation-mobile-down (width <= 768px);
@custom-media --navigation-mobile-up (width >= 769px);
@custom-media --navigation-big-desktop-up (width >= 1114px);

.blog-post__toggle-share {
  display: flex;
  align-items: center;
}

/* stylelint-disable selector-no-type */
/* unknown class */

.blog-post__toggle-share > span {
  display: inline-block;
  height: 100%;
}

/* stylelint-enable selector-no-type */

.blog-post__toggle-share .balloon__link {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--color-kiev);
  font-size: var(--text-size-step--4);
  text-decoration: none;
}

.blog-post__toggle-share.balloon--not-visible .blog-post__sharebar-icon-close,
.blog-post__toggle-share.balloon--visible .blog-post__sharebar-icon-share {
  display: none;
}

.blog-post__toggle-share.balloon--not-visible .blog-post__sharebar-icon-share,
.blog-post__toggle-share.balloon--visible .blog-post__sharebar-icon-close {
  display: block;
}

.blog-post__toggle-share.balloon--not-visible .content {
  display: none;
}

.blog-post__sharebar {
  display: flex;
  height: 55px;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

.blog-post__sharebar .share-component__icons {
  display: flex;
  align-items: center;
}

.blog-post__sharebar .Icon {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  background-color: var(--color-kiev);
  border-radius: 9999999px;
}

.blog-post__sharebar .share__link {
  display: block;
  line-height: 0;
}

.balloon__link .Icon-more {
  margin-right: var(--grid-spacing-rabbit);
}

.blog-post__sharebar-word-more {
  vertical-align: middle;
  height: 31px;
  cursor: pointer;
  line-height: 31px;
}

.balloon-content .share-component__icons {
  height: 50px;
}

/* stylelint-disable selector-no-type */
/* unknown class */

.blog-post__sharebar .Icon-facebook use {
  fill: var(--color-thimphu);
}

.blog-post__sharebar .Icon-twitter use {
  fill: var(--color-thimphu);
}

.blog-post__sharebar .share__icon--facebook {
  /* stylelint-disable declaration-no-important */
  /* Need important for styling to persist */
  margin-right: var(--grid-spacing-hedgehog) !important;
  /* stylelint-enable declaration-no-important */
}

.blog-post__sharebar .share__icon--twitter {
  /* stylelint-disable declaration-no-important */
  /* Need important for styling to persist */
  margin-right: var(--grid-spacing-rabbit) !important;
  /* stylelint-enable declaration-no-important */
}

.blog-post__sharebar .Icon-more use {
  fill: var(--color-thimphu);
}

.share-component__icons .Icon-linkedin,
.share-component__icons .Icon-googleplus,
.share-component__icons .Icon-mail,
.share-component__icons .Icon-print,
.share-component__icons .Icon-whatsapp {
  background-color: var(--color-berlin);
}

.blog-post__sharebar .balloon-content svg,
.blog-post__sharebar .balloon-content use {
  fill: var(--color-kiev);
}

/* stylelint-enable selector-no-type */

.blog-post__sharebar .balloon-content {
  display: flex;
  height: 50px;
  padding: 0;
  background: var(--color-kiev);
}

.blog-post__sharebar .balloon-content .share__icon {
  margin-right: 0;
  margin-left: var(--grid-gutter-xs);
}

.blog-post__sharebar .balloon-content .share__icon:last-child {
  margin-right: var(--grid-gutter-xs);
}

.blog-post__sharebar .balloon__triangle {
  border-bottom-color: var(--color-kiev);
}

.blog-post__toggle-share .balloon__triangle {
  top: 46px;
  left: 15px;
}

.blog-post__sharebar .balloon--visible {
  height: 100%;
  padding-right: var(--grid-spacing-hedgehog);
  padding-left: var(--grid-spacing-hedgehog);
  background-color: var(--color-berlin);
}

.blog-post__sharebar .balloon--not-visible {
  padding-right: var(--grid-spacing-hedgehog);
  padding-left: var(--grid-spacing-hedgehog);
}

.blog-post__toggle-share .balloon-content {
  top: 52px;
}

@media (--navigation-mobile-down) {
  .blog-post__sharebar-icon-share,
  .blog-post__sharebar-icon-close {
    width: 35px;
    height: 35px;
  }
}

@media (--navigation-big-desktop-up) {
  .blog-post__sharebar {
    padding-left: var(--grid-spacing-hedgehog);
    justify-content: flex-start;
  }
}
